<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="usuario"><br>

            <label for="clave">Contraseña</label>
            <input type="text" name="clave" id="clave"><br>

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre"><br>

            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" id="apellidos"><br>

            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <input type="date" name="fecha_nacimiento" id="fecha_nacimiento"><br>

            <label for="bio">Biografía</label>
            <textarea name="bio" id="bio" cols="30" rows="10"></textarea><br>

            <label for="foto_perfil">Foto de usuario</label>
            <input type="file" name="foto_perfil" id="foto_perfil"><br>

            <label for="p_usuario">Usuario</label><input type="radio" name="usuario" id="p_usuario" value="3" checked><br>
            <label for="p_responsable">Responsable</label><input type="radio" name="usuario" id="p_responsable" value="2"><br>
            <label for="p_administrador">Administrador</label><input type="radio" name="usuario" id="p_administrador" value="1"><br>

            <input type="submit" value="Registrar" name="registrar">
        </form>
    </div>
</body>
</html>